body {
    background: #343a40;
    padding: 0;
    margin: 0;
}

.carousel-item img {
    display: block;
    max-height: 700px;
    width: auto;
    height: auto;

}

.col {
    padding: 0;
}


div .carousel-caption h1,
h3 {
    text-shadow: 0px 0px 3px #000;
    color: #fff;
    opacity: 1;
}

.tinted {
    opacity: 0.7;
}

#quote {
    text-align: center;
    text-shadow: none;
    padding: 3%;
}

#services {
    margin-bottom: 8%;
}

.light {
    background-color: #e9ecef;
    color: #343a40;
}

.dark {
    background-color: #343a40;
    color: #e9ecef;
}

.serviceBtn {
    margin: 10% 0;
}

#contact {
    background: #e9ecef;
    min-width: 420px;
    display: block;
    padding: 5%;
}

#contact p {
    margin: 1%;
}

#contact h5 {
    padding 5% 0;
}

.card {
    margin: 5%;
}

#exteriorHeader {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)), url("https://images.unsplash.com/photo-1516156008625-3a9d6067fab5?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=47b4b88e2825332da6fb93898562051c&auto=format&fit=crop&w=1050&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    color: #e9ecef;
    text-shadow: black 0.3em 0.3em 0.3em;
    margin-bottom: 0;
}

#interiorHeader {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)), url("https://images.unsplash.com/photo-1503174971373-b1f69850bded?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5952432c3b70cfedf523282f5895f009&auto=format&fit=crop&w=500&q=60");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #e9ecef;
    text-shadow: black 0.3em 0.3em 0.3em;
    margin-bottom: 0;
}

#aboutBanner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)), url("https://images.unsplash.com/photo-1516880711640-ef7db81be3e1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ec0af85369677af43bb5a2c005528e81&auto=format&fit=crop&w=1050&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-shadow: black 0.3em 0.3em 0.3em;
    text-align: center;
    padding: 10%
}

#kyleImg {
    border-radius: 100%;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #e9ecef;
}

#kyleInfo {
    padding: 2%;
    margin: auto;
    max-width: 900px;

}

#kyleInfo p {
    padding: 3%;
}

#people {
    padding: 3%;
}
